/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/
*{box-sizing: border-box;}

:root {
    --white: #ffffff;
    --black: #000000;
    --teal: #00b9ae;
    --dark_teal: #037171;
    --darkest_teal: #03312e;
    --light_blue: #8b95c9;
    --gray: #D9D9D9;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Roboto:wght@100&display=swap');
  @font-face {
    font-family: "coolvetica";
    src: url("../assets/fonts/coolvetica/coolvetica-rg.otf"), format("opentype");
  }
  h1,.h1{
    font-size: 64px;
    font-weight: 400;
    color:var(--bs-dark);
    overflow: hidden;
}

h2,.h2{
    font-size: 48px;
    font-family: century gothic;
    color:var(--bs-dark);
}

h3,.h3{
    font-family: 'Roboto', sans-serif;
    font-size:28px; 
    color:var(--bs-dark);
}

.btn-outline-success {
    border: 3px solid var(--teal);
    color: var(--bs-secondary);
  }
  
  .btn-outline-success:hover {
    border: 3px solid var(--bs-dark);
    background-color: var(--bs-dark);
  }
  .navbar-toggler {
    height: 65px;
    width: 65px;
    border-style: none;
    margin-left: 5%;
    background-color: var(--bs-light);
    font-size: 32px;
    display: flex;
  }