/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/
*{box-sizing: border-box;}
  
  @import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Roboto:wght@100&display=swap');
  
  h1,.h1{
    font-size: 64px;
    font-weight: 400;
    color:var(--bs-dark);
    overflow: hidden;
}

h2,.h2{
    font-size: 48px;
    font-family: century gothic;
    color:var(--bs-dark);
}

h3,.h3{
    font-family: 'Roboto', sans-serif;
    font-size:28px; 
    color:var(--bs-dark);
}

h4,.h4{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color:var(--bs-dark);
}

.btn-outline-success {
    border: 3px solid var(--bs-secondary);
    color: var(--bs-secondary);
  }
  
  .btn-outline-success:hover {
    border: 3px solid var(--bs-dark);
    background-color: var(--bs-dark);
  }
  .navbar-toggler {
    height: 65px;
    width: 65px;
    border-style: none;
    margin-left: 5%;
    background-color: var(--bs-light);
    font-size: 32px;
    display: flex;
  }