/*--------------------------------------------------------- 
# Nav
---------------------------------------------------------*/

nav {
  background-color: #8b95c900;
  height: 15%;
  min-height: 120px;
  max-height: 120px;
}

.logo {
  height: 75px;
}

.like {
  height: 75px;
  width: 75px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  margin-right: 5%;
  background-position: center;
  background-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi-heart {
  font-size: 32px;
  color: var(--bs-red);
}

.navbar-toggler {
  height: 65px;
  width: 65px;
  border-style: none;
  margin-left: 5%;
  background-color: var(--gray);
  font-size: 32px;
  display: flex;
  justify-content: center;
}

.navbar-brand {
  margin: 0px;
}

.bi-chevron-left {
  color: black;
  align-self: center;
}

.navbar_flex {
  display: flex;
  justify-content: center;
}

/*--------------------------------------------------------- 
# Footer
---------------------------------------------------------*/

.footer {
  background-color: var(--bs-dark);
  height: 25vh;
  color: white;
  padding: 1em;
}

.tim_svg {
  height: 5vh;
}

.footer_text {
  max-width: 20em;
  margin: 0px;
  text-align: center;
}

.tim_svg_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.footer_text_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--------------------------------------------------------- 
# ART
---------------------------------------------------------*/
body {
  background-image: url("../assets/artworks/virtualanatomy1.jpg");
  padding-top: 45%;
  background-size: contain;
  background-repeat: no-repeat;
}

.art {
  max-width: 100%;
  object-position: 50% 50%;
}

.art_div {
  max-width: 100%;
}

.art_title {
  font-size: 34px;
}

/*--------------------------------------------------------- 
# INFO
---------------------------------------------------------*/
.info_container {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: var(--bs-white);
}

.location_date_container {
  display: flex;
}

.artist_title_div {
  margin-top: 1em;
  background-color: var(--bs-dark);
  border-radius: 5px;
}

.artist_title {
  color: white;
}

.savoir_plus_btn {
  width: 8em;
  height: 2.2em;
  border-style: solid;
  border-color: var(--bs-info);
  border-radius: 5px;
  background-color: var(--bs-white);
  transition-duration: 0.25s;
}

.savoir_plus_btn:hover {
  border: 3px solid var(--bs-dark);
  background-color: var(--bs-dark);
  color: var(--bs-white);
  transition-duration: 0.25s;
}

.artist_face {
  width: 100%;
  height: 12em;
  object-fit: cover;
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.artist_name {
  font-size: 24px;
}

/*--------------------------------------------------------- 
# ACCORDION
---------------------------------------------------------*/

.accordion-button.collapsed {
  font-family: var(--bs-body-font-family);
  background-color: var(--bs-dark);
  color: var(--bs-white);
}

.accordion-button:not(.collapsed) {
  background-color: var(--bs-info);
  color: var(--bs-white);
  font-family: var(--bs-body-font-family);
}

.bi-calendar{
  position: absolute;
  left: 93%;
  top: 55%;
}

.form_date{
  position: relative;
}