/*--------------------------------------------------------- 
# Nav
---------------------------------------------------------*/

nav {
  background-color: var(--light_blue);
  height: 15%;
  min-height: 120px;
}

.logo{
  height: 75px;
}

.account{
  height: 75px;
  width: 75px;
  background-color: var(--white);
  border-radius: 50%;
  margin-right: 50px;
}

.hamburger{
  height: 65px;
  width: 65px;
  border-style: none;
  margin-left: 50px;
  background-color: var(--darkest-teal);
  font-size: 32px;
}