/*--------------------------------------------------------- 
# Nav
---------------------------------------------------------*/
section.navbar{
  padding:0;
}
.logo {
  height: 60px;
}

nav {
  background-color: var(--bs-primary);
  height: 15%;
  box-shadow: 0px 4px 62px 1px rgba(0, 0, 0, 0.25);
}

.navbar{
  width:100%;
}

.nav-link {
  font-size: 24px;
  margin: 0 30px 0 30px;
  font-family: 'Amaranth', sans-serif;
}

.btn:hover.nav-link {
  color: var(--bs-white);
}


.btn:hover {
  background-color: var(--bs-dark);
  color:var(--bs-white);
}

.btn.active{
  background-color: var(--bs-secondary);
  border: none;
}
.navbar-toggler-icon {
  color: var(--bs-white);
  justify-content: center;
  align-self: center;
}

/*--------------------------------------------------------- 
# Héro
---------------------------------------------------------*/

section.hero{
  height: 90%;
  color: var(--bs-dark);
  padding-top:20% !important;
}

.app-text {
  margin-top: 10%;
}

.phone {
  margin: auto;
  border-radius: 50px;
  width:100%;
  aspect-ratio: 5/9;
  box-shadow: 0px 0px 38px 1px rgba(0, 0, 0, 0.25);
  text-align: center;
  min-width:450px !important;
}

.download{
  width:300px;
}

.iframe{
  height:100%;
  width:100%;
  border-radius: 50px;
}

/*--------------------------------------------------------- 
# Fonctionnalitées
---------------------------------------------------------*/

.fonction_titre{
    margin-top:2%;
    text-align: center;
}

.description {
  text-align: center;
  margin-bottom: 5%;
  line-height:33px;
}

section.fonctionnalitees{
  color: var(--bs-dark);
  background-color: var(--bs-light);
  height: 100%;
  max-width: 100%;
}

.band {
  width: 60%;
  height: 1px;
  margin-bottom: 5px;
}

.functionBody {
  font-size: 16px;
  color: var(--bs-dark);
  line-height: 19px;
}

.icon{
  font-size: 2rem;
  color: var(--bs-secondary);
}

.fonction{
  height: 90%;
}

/*--------------------------------------------------------- 
En voir plus
---------------------------------------------------------*/

@media all and (min-width:1200px){
  .swiper-slide{
  opacity: 0.4;
}
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper {
  width: 100%;
  height: 700px;
}
.swiper-screenshots{
  background-color: var(--bs-primary);
}
.swiper-slide-active{
  opacity:1;
}

.swiper-slide{
  display:flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 80%;
  transition: transform 0.5s; 
  transform:scale(0.8);
}

@media all and (max-width:1200px){
  .swiper-slide{
    opacity:0;
  }
  .swiper-slide-active{
    opacity:1;
  }
}

.swiper-slide-active img{
  opacity:1;
  transform:scale(1);
}

.swiper-btn{
  background-color: var(--bs-secondary);
  color:var(--bs-dark);
  border-radius:50px;
  width:60px;
  height:60px;
  position:absolute;
}

.swiper-btn:hover{
  background-color: var(--bs-dark);
  color:var(--bs-secondary);
  border-radius:50px;
  width:60px;
  height:60px;
}

.swiper-btn:active{
  transform:translateY(2px);
}

/*--------------------------------------------------------- 
# Témoignages
---------------------------------------------------------*/

.user{
  width:100%;
  height:25vh;
  object-fit: cover;
  border-top-right-radius: var(--bs-border-radius);
  border-top-left-radius: var(--bs-border-radius);
}

@media(max-width: 576px){
  .user{
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--bs-border-radius);
    border-top-left-radius: var(--bs-border-radius);
  }
}

.temoignages_band {
  width: 1px;
  height: 80%;
  background-color: var(--bs-secondary);
  position:absolute;
  top:10%;

}
.icon-temoignages{
  font-size: 2rem;
  color: var(--bs-secondary);
  position: absolute;
  left:-25%;
  top:25%;
}

.user_review{
  max-height: 20%;
}

.witnessBody{
  font-size: 16px;
  color: var(--bs-dark);
  line-height: 19px;
  position:relative;
}

@media (min-width: 576px){
  .userCard{
    min-height: 100%;
  }
  .icon-temoignages{
    top:-15%;
    left:65%;
  }
  .temoignages_band{
    display:none;
  }
}

@media (min-width:768px){
  .icon-temoignages{
    top:-20%;
    left:70%;
  }
}

@media (min-width: 992px){
  .icon-temoignages{
    top:-15%;
    left:65%;
  }
}

.hide_link{
  text-decoration: none;
  color: var(--bs-dark);
}
.hide_link:hover{
  color: var(--bs-dark);
}

/*--------------------------------------------------------- 
# FAQ
---------------------------------------------------------*/

section.faq{
  height:90%;
  background-color: var(--bs-light);
}

.accordion{
  width: 100%;
}

.accordion-body{
  background-color: var(--bs-primary);
}

.accordion-item:focus{
  background-color: var(--bs-secondary);
}

/*--------------------------------------------------------- 
# Infolettre
---------------------------------------------------------*/

.infolettre-button{
  width:100%;
}

section.infolettre{
  height:90%;
}

.infolettre-text{
  background-color: rgba(var(--bs-light-rgb), 0.5);
  border-radius: 25px;
}

.infolettre-section{
  background-image: url('../assets/image-background-infolettre.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  /*https://unsplash.com/photos/ICCn56-jyuw?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink*/

}

.email{
  width:80%;
  border-radius:15px;
  border:solid 1px rgba(var(--bs-dark))
}

/*--------------------------------------------------------- 
# Footer
---------------------------------------------------------*/

section.footer{
  height:20%;
  background-color: var(--bs-primary);
}

.footer-text{
  color: var(--bs-white);
  font-size:20px;
}

a:last-child{
  text-decoration: none;
}

a:last-child:hover{
  color: var(--bs-dark)
}

/*--------------------------------------------------------- 
# Media queries
---------------------------------------------------------*/


@media all and (max-width: 992px) {
  .app-text {
    text-align: center;
    margin-bottom: 10%;
  }
  .nav-btn {
    background-color: var(--bs-primary);
    border-radius: 0;
  }

}
@media all and (min-width: 576px) and (max-width: 700px){
  .logo{
    height:40px;
  }
  nav{
    height: 10%;
  }
}

@media all and (max-width:576px){
  nav{
    height: 13%;
  }
}




/*--------------------------------------------------------- 
# Global
---------------------------------------------------------*/

:root{
  font-family: 'Roboto', sans-serif;
  font-size:30px;
}