/*--------------------------------------------------------- 
# Nav
---------------------------------------------------------*/
section.navbar{
  padding:0;
}
.logo {
  height: 60px;
}

nav {
  background-color: var(--bs-primary);
  height: 15%;
  box-shadow: 0px 4px 62px 1px rgba(0, 0, 0, 0.25);
}

.navbar{
  width:100%;
}

.nav-link {
  font-size: 24px;
  margin: 0 30px 0 30px;
  font-family: 'Amaranth', sans-serif;
}

.btn:hover.nav-link {
  color: var(--bs-white);
}


.btn:hover {
  background-color: var(--bs-dark);
}

.btn.active{
  background-color: var(--bs-secondary);
  border: none;
}
.navbar-toggler-icon {
  color: var(--bs-white);
  justify-content: center;
  align-self: center;
}

/*--------------------------------------------------------- 
# Héro
---------------------------------------------------------*/

section.hero{
  height: 90%;
  margin-top: 10%;
  color: var(--bs-dark);
}

.app-text {
  margin-top: 10%;
}

.phone {
  margin: auto;
  border-radius: 50px;
  width:100%;
  aspect-ratio: 5/9;
  box-shadow: 0px 0px 38px 1px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.download{
  width:300px;
}

.iframe{
  height:100%;
  width:100%;
  border-radius: 50px;
}

/*--------------------------------------------------------- 
# Fonctionnalitées
---------------------------------------------------------*/

.fonction_titre{
    margin-top:2%;
    text-align: center;
}

.description {
  text-align: center;
  margin-bottom: 5%;
  line-height:33px;
}

section.fonctionnalitees{
  color: var(--bs-dark);
  background-color: var(--bs-light);
  height: 100%;
  max-width: 100%;
  margin-top: 7%;
}

.band {
  width: 60%;
  height: 1px;
  margin-bottom: 5px;
}

.functionBody {
  font-size: 16px;
  color: var(--bs-dark);
  line-height: 19px;
}

.icon{
  font-size: 2rem;
  color: var(--bs-secondary);
}

.fonction{
  height: 90%;
}

/*--------------------------------------------------------- 
# Témoignages
---------------------------------------------------------*/

.user{
  width:100%;
  height:25vh;
  object-fit: cover;
}

.temoignages_band {
  width: 1px;
  height: 80%;
  background-color: var(--bs-secondary);
  position:absolute;
  top:10%;
}
.icon-temoignages{
  font-size: 2rem;
  color: var(--bs-secondary);
  position: absolute;
  left:25%;
  top:25%;
}

.user_review{
  max-height: 20%;
}

.hide_link{
  text-decoration: none;
  color: var(--bs-dark);
}
.hide_link:hover{
  color: var(--bs-dark);
}

/*--------------------------------------------------------- 
# Footer
---------------------------------------------------------*/

section.footer{
  height:20%;
  background-color: var(--bs-primary);
}

.footer-text{
  color: var(--bs-white);
  font-size:20px;
}

a:last-child{
  text-decoration: none;
}

a:last-child:hover{
  color: var(--bs-dark)
}

/*--------------------------------------------------------- 
# Media queries
---------------------------------------------------------*/


@media all and (max-width: 992px) {
  .app-text {
    text-align: center;
    margin-bottom: 10%;
  }
  .nav-btn {
    background-color: var(--bs-primary);
    border-radius: 0;
  }

}
@media all and (min-width: 576px) and (max-width: 700px){
  .logo{
    height:40px;
  }
  nav{
    height: 10%;
  }
}

@media all and (max-width:576px){
  nav{
    height: 13%;
  }
}


/*--------------------------------------------------------- 
# FAQ
---------------------------------------------------------*/

section.faq{
  height:90%;
  background-color: var(--bs-light);
}

.accordion-body{
  background-color: var(--bs-primary);
}

/*--------------------------------------------------------- 
# Global
---------------------------------------------------------*/

:root{
  font-family: 'Roboto', sans-serif;
  font-size:30px;
}